In [15]:
import pandas as pd
import numpy as np

In [5]:
zillow_df = pd.read_csv('zillow_df.csv')
zillow_data = pd.read_csv('zillowdatacsv.csv')

In [ ]:
zillow_df.head()

,Unnamed: 0.1,Unnamed: 0,zpid,homeType,price,zestimate,propertyTaxRate,streetAddress,latitude,longitude,...,country,updated_city,updated_street,base_url,query,query_url,extracted_text,pa_rev,extracted_cost,pa_cost
0,0,0,440013553,SINGLE_FAMILY,480000,444000.0,0.55,217 W Archdale St LOT 12-15,36.045464,-75.68150,...,USA,Kitty+Hawk,217+W+Archdale+St+LOT+12-15,https://app.airdna.co/data/rentalizer?address=,217+W+Archdale+St+LOT+12-15%2C+Kitty+Hawk%2C+N...,https://app.airdna.co/data/rentalizer?address=...,S44.3K Projected Revenue,44300.0,S11.1K,11100.0
1,1,1,2052985653,SINGLE_FAMILY,667000,618100.0,0.55,319 Jean Ct LOT 8,36.048378,-75.68599,...,USA,Kitty+Hawk,319+Jean+Ct+LOT+8,https://app.airdna.co/data/rentalizer?address=,319+Jean+Ct+LOT+8%2C+Kitty+Hawk%2C+NC%2C+USA,https://app.airdna.co/data/rentalizer?address=...,S43.8K Projected Revenue,43800.0,S11K,11000.0
2,2,2,400835825,SINGLE_FAMILY,595500,564000.0,0.55,0 W Martin St,36.002216,-75.65618,...,USA,Kitty+Hawk,0+W+Martin+St,https://app.airdna.co/data/rentalizer?address=,0+W+Martin+St%2C+Kitty+Hawk%2C+NC%2C+USA,https://app.airdna.co/data/rentalizer?address=...,S37.7K Projected Revenue,37700.0,59.4K,59400.0
3,3,3,346151423,SINGLE_FAMILY,735000,677200.0,0.55,108 E Avalon Dr LOT 47,36.042538,-75.67712,...,USA,Kitty+Hawk,108+E+Avalon+Dr+LOT+47,https://app.airdna.co/data/rentalizer?address=,108+E+Avalon+Dr+LOT+47%2C+Kitty+Hawk%2C+NC%2C+USA,https://app.airdna.co/data/rentalizer?address=...,S44K Projected Revenue,44000.0,S11K,11000.0
4,4,4,349783567,TOWNHOUSE,499000,468400.0,0.55,1117 Cambridge Road UNIT 311a,36.006977,-75.67264,...,USA,Kitty+Hawk,1117+Cambridge+Road+UNIT+311a,https://app.airdna.co/data/rentalizer?address=,1117+Cambridge+Road+UNIT+311a%2C+Kitty+Hawk%2C...,https://app.airdna.co/data/rentalizer?address=...,S36.5K Projected Revenue,36500.0,S9.1K,9100.0

In [7]:
zillow_data.head()

,Unnamed: 0,zpid,homeType,price,zestimate,propertyTaxRate,streetAddress,latitude,longitude,yearBuilt,...,rf_associationAmenities,rf_associationFeeIncludes,rf_appliances,rf_hasHeating,rf_hasCooling,rf_furnished,rf_otherParking,rf_hasWaterfrontView,m_AnnualHOA,m_hasOutdoorSpace
0,0,440013553,SINGLE_FAMILY,480000,444000.0,0.55,217 W Archdale St LOT 12-15,36.045464,-75.68150,1972,...,NaN,NaN,"['Dryer', 'Dishwasher', 'Microwave', 'Refriger...",True,True,True,['Garage: 2 Car'],NaN,NaN,True
1,1,2052985653,SINGLE_FAMILY,667000,618100.0,0.55,319 Jean Ct LOT 8,36.048378,-75.68599,1994,...,NaN,NaN,"['Dryer', 'Dishwasher', 'Microwave', 'Refriger...",True,True,True,['Garage: None'],NaN,NaN,True
2,2,400835825,SINGLE_FAMILY,595500,564000.0,0.55,0 W Martin St,36.002216,-75.65618,2024,...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
3,3,346151423,SINGLE_FAMILY,735000,677200.0,0.55,108 E Avalon Dr LOT 47,36.042538,-75.67712,1999,...,['Ocean Access'],NaN,"['Dryer', 'Dishwasher', 'Microwave', 'Refriger...",True,True,True,"['Garage: 2 Car', 'Carport']",True,NaN,NaN
4,4,349783567,TOWNHOUSE,499000,468400.0,0.55,1117 Cambridge Road UNIT 311a,36.006977,-75.67264,2022,...,"['Clubhouse', 'Pool', 'Fitness Center', 'Maint...",NaN,NaN,True,True,True,NaN,NaN,7920.0,NaN

In [8]:
roi_df = pd.merge(zillow_df, zillow_data, on='zpid', how='inner')

In [11]:
roi_df = roi_df[['price_x', 'propertyTaxRate_x', 'streetAddress_x', 'city', 'state', 'country', 'pa_rev', 'pa_cost', 'rf_hoaFee']]

In [20]:
roi_df

,price_x,propertyTaxRate_x,streetAddress_x,city,state,country,pa_rev,pa_cost,rf_hoaFee
0,480000,0.55,217 W Archdale St LOT 12-15,Kitty Hawk,NC,USA,44300.0,11100.0,0
1,667000,0.55,319 Jean Ct LOT 8,Kitty Hawk,NC,USA,43800.0,11000.0,0
2,595500,0.55,0 W Martin St,Kitty Hawk,NC,USA,37700.0,59400.0,0
3,735000,0.55,108 E Avalon Dr LOT 47,Kitty Hawk,NC,USA,44000.0,11000.0,0
4,499000,0.55,1117 Cambridge Road UNIT 311a,Kitty Hawk,NC,USA,36500.0,9100.0,"$7,920 annually"
...,...,...,...,...,...,...,...,...,...
56,629000,0.55,315 W Hayman Blvd LOT 21-22,Kitty Hawk,NC,USA,42700.0,10700.0,0
57,684900,0.55,507 Zen Lane Lot 46 Kill,Kitty Hawk,NC,USA,38600.0,59700.0,0
58,749990,0.55,709 Zen Lane Lot 61,Kitty Hawk,NC,USA,33500.0,58400.0,$600 annually
59,475000,0.55,228 W Eden Street,Kitty Hawk,NC,USA,41600.0,15400.0,0
60,449000,0.55,807 W Fox St LOT 7,Kitty Hawk,NC,USA,35000.0,58800.0,0

In [27]:
roi_df['down_pmt_pct'] = 0.05

C:\Users\charl\AppData\Local\Temp\ipykernel_15316\1514426982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roi_df['down_pmt_pct'] = 0.05

In [28]:
roi_df['down_pmt'] = roi_df['price_x'] * roi_df['down_pmt_pct']

C:\Users\charl\AppData\Local\Temp\ipykernel_15316\4140880752.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roi_df['down_pmt'] = roi_df['price_x'] * roi_df['down_pmt_pct']

In [45]:
roi_df.head()

,price_x,propertyTaxRate_x,streetAddress_x,city,state,country,pa_rev,pa_cost,rf_hoaFee,interest_rate,down_pmt,down_pmt_pct,hoa_split,hoa_amt,hoa_freq
0,480000,0.55,217 W Archdale St LOT 12-15,Kitty Hawk,NC,USA,44300.0,11100.0,0,0.05,24000.0,0.05,0,0,0
1,667000,0.55,319 Jean Ct LOT 8,Kitty Hawk,NC,USA,43800.0,11000.0,0,0.05,33350.0,0.05,0,0,0
2,595500,0.55,0 W Martin St,Kitty Hawk,NC,USA,37700.0,59400.0,0,0.05,29775.0,0.05,0,0,0
3,735000,0.55,108 E Avalon Dr LOT 47,Kitty Hawk,NC,USA,44000.0,11000.0,0,0.05,36750.0,0.05,0,0,0
4,499000,0.55,1117 Cambridge Road UNIT 311a,Kitty Hawk,NC,USA,36500.0,9100.0,"$7,920 annually",0.05,24950.0,0.05,"[$7,920, annually]","$7,920",annually

In [38]:
roi_df['hoa_split'] = roi_df['rf_hoaFee'].apply(
    lambda x: x.split(' ') if isinstance(x, str) else x
)

C:\Users\charl\AppData\Local\Temp\ipykernel_15316\1650687923.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roi_df['hoa_split'] = roi_df['rf_hoaFee'].apply(

In [58]:
roi_df['hoa_amt'] = roi_df['hoa_split'].apply(
    lambda x: int(x[0].replace('$', '').replace(',', '')) if isinstance(x, list) else int(x.replace('$', '').replace(',', '')) if isinstance(x, str) else x
)

C:\Users\charl\AppData\Local\Temp\ipykernel_15316\1685987018.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roi_df['hoa_amt'] = roi_df['hoa_split'].apply(

In [44]:
roi_df['hoa_freq'] = roi_df['hoa_split'].apply(
    lambda x: x[1] if isinstance(x, list) else x
)

C:\Users\charl\AppData\Local\Temp\ipykernel_15316\1933614123.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roi_df['hoa_freq'] = roi_df['hoa_split'].apply(

In [59]:
roi_df['pa_hoa'] = roi_df.apply(lambda row: row['hoa_amt'] * 12 if row['hoa_freq'] == 'monthly' else row['hoa_amt'], axis=1)

C:\Users\charl\AppData\Local\Temp\ipykernel_15316\3711984792.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roi_df['pa_hoa'] = roi_df.apply(lambda row: row['hoa_amt'] * 12 if row['hoa_freq'] == 'monthly' else row['hoa_amt'], axis=1)

In [60]:
roi_df['pa_mortgage'] = 12 * ((roi_df['price_x'] - roi_df['down_pmt']) * (roi_df['interest_rate'] / 12)) / (1 - ((1 + (roi_df['interest_rate'] / 12)) ** (-360)))

C:\Users\charl\AppData\Local\Temp\ipykernel_15316\2823237069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roi_df['pa_mortgage'] = 12 * ((roi_df['price_x'] - roi_df['down_pmt']) * (roi_df['interest_rate'] / 12)) / (1 - ((1 + (roi_df['interest_rate'] / 12)) ** (-360)))

In [72]:
roi_df['y1_cf'] = -roi_df['down_pmt'] - roi_df['pa_mortgage'] - roi_df['pa_cost']  - roi_df['pa_hoa'] + roi_df['pa_rev']
roi_df['y2-y15_cf'] = -roi_df['pa_mortgage'] - roi_df['pa_cost']  - roi_df['pa_hoa'] + roi_df['pa_rev']

C:\Users\charl\AppData\Local\Temp\ipykernel_15316\3671846632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roi_df['y1_cf'] = -roi_df['down_pmt'] - roi_df['pa_mortgage'] - roi_df['pa_cost']  - roi_df['pa_hoa'] + roi_df['pa_rev']
C:\Users\charl\AppData\Local\Temp\ipykernel_15316\3671846632.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roi_df['y2-y15_cf'] = -roi_df['pa_mortgage'] - roi_df['pa_cost']  - roi_df['pa_hoa'] + roi_df['pa_rev']

In [71]:
import numpy_financial as npf

In [79]:
roi_df['cash_flows'] = roi_df.apply(lambda row: [row['y1_cf']] + [row['y2-y15_cf']] * 14, axis=1)

C:\Users\charl\AppData\Local\Temp\ipykernel_15316\631236202.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roi_df['cash_flows'] = roi_df.apply(lambda row: [row['y1_cf']] + [row['y2-y15_cf']] * 14, axis=1)

In [82]:
roi_df['irr'] = roi_df.apply(lambda row: npf.irr(row['cash_flows']), axis=1)

C:\Users\charl\AppData\Local\Temp\ipykernel_15316\1252750951.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  roi_df['irr'] = roi_df.apply(lambda row: npf.irr(row['cash_flows']), axis=1)